body {
    font-family: Montserrat;
}

.section {
    background-color: #252B42;
    padding: 160px 0;
}

.section-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    /*width: 691px;*/
    letter-spacing: 0.2px;
}

.section__section-header {
    margin: auto;
}

.section-header__title {
    color: #23A6F0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.section-header__header {
    color: white;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin: 10px 0;
}

.section-header__subheader {
    color: white;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.section__course-carousel {
    margin-top: 80px;
}

.course-carousel {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}

/*page1*/

.page-header{
    padding: 17px 195px;
}

.section1{
    min-height: 889px;
    background-image: linear-gradient(90deg, black 0.13%, black 0.14%, rgba(0, 0, 0, 0.00) 99.56%),
    url('../images/background.png');
    background-size: cover;
}

.page-header__brandname{
    display: inline-flex;
    padding: 13px 42px 13px 0px;
    align-items: center;
}

.brandname{
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    cursor: pointer;
}

.brandname:hover{
    color: #d7d7d7;
}

.page-header__links{
    margin-left: 30px;
    display: inline-flex;
    padding: 3px 0px;
    justify-content: center;
    align-items: center;
    gap: 240px;
}

.links__link-items{
    display: flex;
    align-items: center;
    gap: 21px;
}

.link-items__item{
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.link-items__item:hover{
    color: #d7d7d7;
}

.links__auth{
    display: flex;
    align-items: center;
    gap: 45px;
}

.auth__login{
    color: #FFF;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.auth__login:hover{
    color: #d7d7d7;
}

.auth__button{
    display: flex;
    padding: 15px 25px;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    background: #23A6F0;
    cursor: pointer;
}

.auth__button:hover{
    background: #229ce1;
}

.button__text{
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
}

.page-body{
    display: flex;
    padding: 125px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
}

.page-body__content{
    display: flex;
    width: 599px;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    padding: 0px 195px;
}

.content__first-title{
    color: #23A6F0;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.content__second-title{
    color: #FFF;
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.2px;
}

.content__description{
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.content__join-btn{
    display: flex;
    padding: 15px 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #23A6F0;
    cursor: pointer;
}

.content__join-btn:hover{
    background: #229ce1;
}

.join-btn__text{
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
}

/*page2*/

.section__courses-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.courses{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.courses__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 328px;
    height: 292px;
    background-color: white;
    padding: 35px 40px;
}

.courses__main-img{
    display: flex;
    padding: 22px 19px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #E74040;
}

.courses__title{
    color: #252B42;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.courses__line{
    width: 50px;
    height: 2px;
    background: #E74040;
}

.courses__description{
    color: #737373;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
}

/*page3*/

.section__course-info{
    display: flex;
    padding: 0px 195px;
    justify-content: center;
    align-items: center;
}

.course-info__main-info{
    display: flex;
    align-items: center;
    gap: 30px;
}

.main-info__text{
    display: flex;
    width: 507px;
    flex-direction: column;
    gap: 35px;
}

.text__line{
    width: 94px;
    height: 7px;
    background: #E74040;
}

.text__header{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
}

.text__description{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.text__link-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.link-item__link{
    color: #23A6F0;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.link-item__link:hover{
    color: #1f89c5;
}

.link-item__arrow{
    cursor: pointer;
}

.photo-stack__top-photo{
    position: relative;
}

.top-photo__man-photo{
    position: relative;
    z-index: 10;
}

.top-photo__bg{
    width: 408px;
    height: 408px;
    flex-shrink: 0;
    border-radius: 0px 83px;
    background: #00087E;
    position: absolute;
    top: 22px;
    left: 31px;
    z-index: 1;
}

.bottom-photo__stats-photo{
    position: relative;
    top: -100px;
    right: -85px;
    z-index: 20;
}

.bottom-photo__singles-photo{
    position: relative;
    top: -530px;
    left: 140px;
    z-index: 20;
}

/*----course-item----*/
.course-item {
    width: 330px;
}

.course-item__header {
    position: relative;
}

.course-item__image {
    width: 330px;
    height: 300px;
    object-fit: cover;
}

.course-item__sale {
    background-color: #E74040;
    border-radius: 3px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding: 0 10px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.course-item__actions {
    bottom: 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.course-item__content {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px 25px 35px 25px;
}

.course-item__content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.course-item__name {
    color: #23A6F0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.course-item__subheader {
    color: #252B42;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1px;
    line-height: 24px;
}

.course-item__description {
    color: #737373;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.course-item__sales {
    align-items: center;
    display: flex;
    gap: 10px;
}

.course-item__sales-value {
    color: #737373;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.course-item__prices {
    display: flex;
    gap: 5px;
    padding: 5px 3px;
}

.course-item__price {
    color: #40BB15;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.course-item__price_muted {
    color: #BDBDBD;
}

.course-item__info {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.course-item__info-item {
    align-items: center;
    display: flex;
    gap: 5px;
}

.course-item__info-title {
    color: #737373;
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 16px;
}

.course-item__outline-button {
    align-self: flex-start;
}
/*--------*/

/*----outline-button----*/
.outline-button {
    align-items: center;
    background-color: white;
    border: 1px solid #23A6F0;
    border-radius: 37px;
    color: #23A6F0;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    gap: 10px;
    line-height: 24px;
    padding: 10px 20px;
    cursor: pointer;
}

.outline-button_arrow:after {
    background-image: url('/assets/icons/arrow-right.svg');
    content: '';
    display: inline-block;
    height: 16px;
    width: 9px;
}
/*--------*/

/*----rating----*/
.rating {
    align-items: center;
    background-color: #252B42;
    border-radius: 20px;
    color: white;
    display: flex;
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 16px;
    padding: 5px;
}

.rating:before {
    background-image: url('/assets/icons/star.svg');
    content: '';
    height: 16px;
    margin-right: 5px;
    width: 16px;
}
/*--------*/


/*----icon-button----*/
.icon-button {
    align-items: center;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    transition: background-color 100ms ease-in;
    width: 40px;
}

.icon-button:hover {
    background-color: #e7e7e7;
}
/*--------*/

@media screen and (max-width: 767px) {
    .section {
        padding: 100px 10px;

    }

    .section-header__header {
        text-align: center;
        font-size: 30px;
        line-height: 40px;
        align-items: center;
    }

    .course-carousel {
        flex-direction: column;
        align-items: center;
    }

}

/*page5*/

.designer {
    width: 490px;
    height: 438px;
}

.designer__content {
    background-color: white;
    display: flex;
    padding: 25px 25px 0px 25px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.designer__round-image{
    border-radius: 50%;
    overflow: hidden;
}

.designer__image {
    width: 128px;
    height: 128px;
    flex-shrink: 0;
    object-fit: cover;
    
}

.designer__description {
    color:#737373;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; 
    letter-spacing: 0.2px;
    width: 159px;
    height: 120px;
}

.designer__card-content{
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    align-self: stretch;
}

.designer__stars{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    align-self: stretch;
}

.designer__user-info{
    display: flex;
    padding: 0px 25px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.designer__user-title{
    color: #252B42;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; 
    letter-spacing: 0.1px;
}

.designer__user-post{
    color: #737373;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px; 
    letter-spacing: 0.2px;
}

/*page6*/


.contacts section__contacts{
    margin-top: 80px;
}

.contacts{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}

.contacts__email-input{
    display: flex;
    margin-top: 80px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
}

.contacts__email-input #input{
    display: flex;
    width: 688px;
    padding: 15px 591px 15px 20px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    background: #F9F9F9;

    color: #737373;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.contacts__email-input #submit-btn{
    display: flex;
    width: 117px;
    height: 58px;
    padding: 15px 22.5px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #E6E6E6;
    background: #23A6F0;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.contacts__email-input #submit-btn:hover{
    background: #229ce1;
}

.contacts__menu{
    display: flex;
    padding: 220px 0px 0px;
    flex-direction: column;
    align-items: center;
}

.contacts__menu-items{
    display: flex;
    gap: 110px;
    justify-content: center;
}

.menu__get-in-touch{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.get-in-touch__title{
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    display: flex;
}

.get-in-touch__text{
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.get-in-touch__text:hover{
    color: #d7d7d7;
}

.get-in-touch__icons{
    display: flex;
    gap: 20px;
}

.icons__item{
    cursor: pointer;
}

.company__info{
    display: flex;
    width: 241px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
}

.menu__company-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.company-info__title{
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;

}

.company-info__links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}


.company-info__link{
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.company-info__link:hover{
    color: #d7d7d7;
}


@media screen and (max-width: 990px) {
    .page-header {
        padding: 17px 20px;
    }

    .section1 {
        min-height: auto;
        background-size: auto;
        padding: 100px 10px;
    }

    .page-header__links {
        margin-left: 10px;
        gap: 35px;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .page-header__brandname{
        display: flex;
        justify-content: center;
        margin-left: 50px;
    }

    .links__link-items {
        gap: 30px;
    }

    .link-items__item {
        font-size: 15px;
    }

    .auth__button {
        padding: 10px 15px;
        gap: 10px;
    }

    .links__auth{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .page-body {
        padding: 50px 20px;
    }

    .page-body__content {
        width: 100%;
        padding: 0px 20px;
    }

    .content__first-title{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .content__second-title {
        font-size: 36px;
        line-height: 50px;
    }

    .content__description {
        font-size: 16px;
        line-height: 24px;
    }

    .content__join-btn {
        padding: 10px 25px;
        gap: 5px;
    }

    .join-btn__text {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 990px) {
    .section__courses-item {
        padding: 40px 0;
    }

    .courses {
        flex-direction: column;
        align-items: center;
    }

    .courses__content {
        max-width: 280px;
        height: auto;
        padding: 25px;
    }

    .courses__main-img {
        padding: 15px;
    }

    .courses__title {
        font-size: 18px;
        line-height: 26px;
    }

    .courses__line {
        width: 30px;
        height: 2px;
    }

    .courses__description {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 1060px) {
    .section__course-info {
        flex-direction: column;
        padding: 0 20px;
    }

    .course-info__main-info {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        font-size: 30px;
        line-height: 40px;
    }

    .main-info__text {
        text-align: center;
        align-items: center;
    }

    .text__line {
        width: 60px;
        height: 5px;
    }

    .text__header {
        line-height: 36px;
        font-size: 30px;
    }

    .text__description {
        line-height: 20px;
    }

    .text__link-item {
        align-items: center;
        gap: 5px;
        justify-content: center;
    }

    .link-item__link {
        font-size: 14px;
        line-height: 20px;
    }

    .course-info__photo-stack{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        width: auto;
        max-width: 100%;
    }

    .bottom-photo__singles-photo{
        left: 50px;
        width: auto;
        max-width: 100%;
    }

    .top-photo__bg{
        left: 20px;
    }



}

@media only screen and (max-width: 990px) {


        .contacts__email-input #input {
            width: auto;
            max-width: 100%;
            height: 40px;
            padding: 15px 20px;
            margin-bottom: 15px;
        }

        .contacts__email-input #submit-btn {
            border-radius: 5px;
            margin-bottom: 15px;
            height: 40px;
        }

        .contacts__menu-items {
            flex-direction: column;
        }

        .menu__get-in-touch,
        .menu__company-info {
            width: 100%;
            gap: 10px;
        }

        .get-in-touch__icons {
            justify-content: center;
        }

        .company__info,
        .contacts__menu-items {
            padding: 0;
            gap: 50px;
        }

        .contacts__menu{
            align-items: flex-start;
        }

        .get-in-touch__title,
        .company-info__title {
            font-size: 20px;
        }

        .company-info__links{
            gap: 5px;
        }
}


